body {
  margin: 0;
  font-size: 20px;
}

body > header {
  text-align: center;
}

#form {
  text-align: center;
  background-color: lightgray;
}

.title {
  font-size: 25px;
  color: black;
  font-weight: bold;
}

select {
  font-size: 20px;
  width: 300px;
  height: 30px;
}

input {
  width: 300px;
  height: 30px;
  font-size: 20px;

}

.submit-button {
  cursor: pointer;
  padding-inline-start: 4rem;
  padding-inline-end: 4rem;
  padding-block-start: 1rem;
  padding-block-end: 1rem;
  margin-block-start: 1rem;
  margin-block-end: 1rem;
}

.list-item {
  padding-inline-start: 2rem;
  padding-inline-end: 2rem;
  padding-block-start: 1rem;
  padding-block-end: 1rem;
  margin-block-end: 1rem;
  margin-block-start: 1rem;
  border: solid 1px;
  list-style: none;
}